@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.body{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("https://images.unsplash.com/photo-1496181133206-80ce9b88a853?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    
}

.banner{
    width: 100%;
    height: 3rem;
    background-color: rgb(179, 99, 186);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.banner > p{
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 900;
    padding: 0;
    text-align: center;
    align-self: center;
}

.field-value{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    margin-top: 40px;
}

.form-container{
   justify-content: center;
   display: flex;
}

  .form-field{
    position: relative;
  }
  
.labeltext {
    position: absolute;
    top: 0.5rem;
    left: 10px;
    font-size: 12px;
    background: white;
    padding: 0 5px;
}
  
.form-field:focus-within input {
    padding: 8px 5px 5px;
}

input{
  padding: 8px 5px 5px;
}

.form-item{
    padding: 1rem;
    padding:1rem 0 0.5rem 0;
    display: flex;
    flex-direction: row;
}


.hidden{
  display: none;
}


.submit-button{
    background-color: purple;
    width: 5rem;
    height: 2rem;
    color: white;
    border: 1px solid purple;
}
.form-name-width{
    width:16rem;
}
#male #female #other{
    padding-left: 3px;
}